@import url('https://fonts.googleapis.com/css2?family=Lato&family=Outfit:wght@200&family=Ubuntu&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-y: hidden;
}
header{
    box-shadow: 0px 0px 2px 2px black;
}
nav{
    display: flex;
    height: 6vw;
    width: 100%;
    max-height: 80px;
    align-items: center;
    /* background: linear-gradient(135deg, white 40%, #04294f 40%); */
    background-color: #04294f;
}

header img{
    object-fit: cover;
    height: 100px;
}
header .menu{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.menu i{
    font-size: 1.5rem;
    margin: auto 5px;
    color: #fff;

}
.menu a{
    text-decoration: none;
    color: inherit;
}
.menu a:hover{
    color: rgb(223, 223, 223);
}
.menu p{
    margin: auto 50px auto 5px;
    font-size: medium;
    color: #fff;
}
.content{
    position: relative;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content h1{
    font-size: 3rem;
}
.content-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;
    z-index: 1;
}
.content-right a{
    display: block;
    margin: auto;
    text-decoration: none;
}
.content-right button{
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.4rem;
    outline: none;
    border: none;
    background: #04294f;
    color: #fff;
    border-radius: 4px;
}
.screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(133, 133, 133);
    opacity: 0.1;

}
@media screen and (max-width:768px) and (min-width:425px) {
    
    
}

@media screen and (max-width:425px) {
    body{
        overflow-y: scroll;
    }
    nav{
        height: fit-content;
        max-height: fit-content;
        background-color: #04294f;
        padding: 20px;
    }
    header .menu{
    grid-template-columns: 1fr ; 
    height: 100%;
       
    }
    .content-right{
        padding-left: 0px;
    }
    img
    {
        width: 100%;
    }
    .content{
        position: relative;
        height: 96vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}